/**
 * Auth 丁少华
 * Date 2016-09-06
 */
@font-face {
  font-family: 'iconfont';  /* project id 144758 */
  src: url('http://at.alicdn.com/t/font_144758_dqnz3ug5tta.eot');
  src: url('http://at.alicdn.com/t/font_144758_dqnz3ug5tta.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_144758_dqnz3ug5tta.woff') format('woff'),
  url('http://at.alicdn.com/t/font_144758_dqnz3ug5tta.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_144758_dqnz3ug5tta.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont";
	font-size: 14px;
	font-style: normal;
}

body {
	font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 12px;
}

.fn-left {
	float: left;
}

.fn-right {
	float: right;
}

.fn-clear:after {
	display: block;
	clear: both;
	content: '';
	visibility: hidden;
	height: 0;
}
.overflow-handle {
	width: 90%;
	margin: 0 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* ng-cloak修复闪跳 */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
	display: none !important;
}

.zhezhao {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
	height: 100%;
	width: 100%;
}

.invalid {
	border-color: #f00;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(255, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea {
	resize: none;
}
input{
	border:0;
	outline: none;
	-webkit-appearance: none;
}
button{
	padding: 0;
}
