/**
 * Auth 丁少华
 * Date 2016-09-06
 */
@font-face {
  font-family: 'iconfont';  /* project id 144758 */
  src: url('http://at.alicdn.com/t/font_144758_pnydcfb2yr.eot');
  src: url('http://at.alicdn.com/t/font_144758_pnydcfb2yr.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_144758_pnydcfb2yr.woff') format('woff'),
  url('http://at.alicdn.com/t/font_144758_pnydcfb2yr.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_144758_pnydcfb2yr.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont";
	font-size: 14px;
	font-style: normal;
}

body {
	font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f3fa;
	color: #333;
	font-size: 12px;
}

.fn-left {
	float: left;
}

.fn-right {
	float: right;
}

.fn-clear:after {
	display: block;
	clear: both;
	content: '';
	visibility: hidden;
	height: 0;
}

.box-1200 {
	width: 1200px;
	margin: 0 auto;
}

.btn-query {
	width: 80px;
	height: 25px;
	padding: 0;
	background-color: #6d90e3;
	border-color: #6d90e3;
	border-radius: 15px;
	line-height: 25px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.btn-query:focus, .btn-query.focus {
	background-color: #6180c9;
	border-color: #6180c9;
	color: #fff;
}

.btn-query:hover {
	background-color: #6180c9;
	border-color: #6180c9;
	color: #fff;
}

.btn-submit, .btn-cancel {
	border: none;
	font-weight: normal;
	border-radius: 15px;
	padding: 5px 20px;
	margin: 0 5px;
	cursor: pointer;
	line-height: normal;
}

.btn-submit {
	color: #fff;
	background-color: #6d90e3;
}

.btn-submit:focus, .btn-submit.focus {
	background-color: #6180c9;
	color: #fff;
}

.btn-submit:hover {
	background-color: #6180c9;
	color: #fff;
}

.btn-cancel {
	background-color: #dbe6ff;
	color: #6d90e3;
	border: 1px solid #aabff2;
	box-shadow: none;
	padding: 4px 19px;
}

.btn-cancel:focus, .btn-cancel.focus {
	background-color: #b2c7f9;
	color: #6d90e3;
}

.btn-cancel:hover {
	background-color: #b2c7f9;
	color: #6d90e3;
}

.btn-set {
	margin-left: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #fff;
	border-color: #99b6f7;
	color: #333;
	font-size: 12px;
}

.btn-set:focus,
.btn-set.focus {
	background-color: #f7f7f7;
	border-color: #99b6f7;
	color: #333;
}

.btn-set:hover {
	background-color: #f7f7f7;
	border-color: #99b6f7;
	color: #333;
}

.btn-set .iconfont {
	color: #6d90e3;
}

.btn-edit {
	margin-left: 2px;
	padding: 0 6px;
	border-color: #aabff2;
	background-color: #dbe6ff;
	color: #6b8ee6;
	font-size: 12px;
}

.btn-edit:focus,
.btn-edit.focus {
	border-color: #aabff2;
	background-color: #dbe6ff;
	color: #6b8ee6;
}

.btn-edit:hover {
	border-color: #aabff2;
	background-color: #dbe6ff;
	color: #6b8ee6;
}

.btn-edit .iconfont {
	color: #6b8ee6;
}

.btn-disabled {
	margin-left: 2px;
	padding: 0 6px;
	background-color: #dcdcdc;
	border-color: #dcdcdc;
	color: #bbb;
	font-size: 12px;
}

.btn-disabled:focus,
.btn-disabled.focus {
	background-color: #dcdcdc;
	border-color: #dcdcdc;
	color: #bbb;
}

.btn-disabled:hover {
	background-color: #dcdcdc;
	border-color: #dcdcdc;
	color: #bbb;
}

.btn-disabled .iconfont {
	color: #bbb;
}

.purple-color {
	color: #6d90e3;
}

.btn-keyword {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 25px;
	padding: 0;
	background-color: #6d90e3;
	border-color: #6d90e3;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	line-height: 25px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.btn-keyword:focus,
.btn-keyword.focus {
	background-color: #6180c9;
	border-color: #6180c9;
	color: #fff;
}

.btn-keyword:hover {
	background-color: #6180c9;
	border-color: #6180c9;
	color: #fff;
}

.table {
	margin-bottom: 10px;
}

/* 弹出框 */
.modal-content {
	border-radius: 0;
}

.modal-header {
	background-color: #6d90e3;
	padding: 6px 10px;
}

.modal-header .close {
	color: #fff;
	opacity: 1;
	margin-top: 4px;
}

.modal-title {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.modal-title .iconfont {
	margin-right: 6px;
}

.modal-title .icon {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.edit-label {
	width: 100px !important;
	text-align: right;
}

.edit-input {
	width: 200px !important;
}

.mb10 {
	margin-bottom: 10px;
}

.pr50 {
	padding-right: 50px;
}

.modal-footer {
	position: relative;
	height: 46px;
	padding: 8px 0;
	background-color: #f8f8f8;
	border-top: 1px solid #e0e0e0;
	text-align: center !important;
}

.modal-footer::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	display: block;
	width: 100%;
	height: 6px;
	background: url('../images/wavy-line1.png') repeat-x 0 0;
}

.sweet-alert {
	top: 30%;
}

.sweet-alert h2 {
	font-size: 20px;
	margin: 15px 0 8px;
	line-height: 30px;
}

.sweet-alert button {
	margin: 25px 0 0;
	padding: 8px 20px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: normal !important;
	box-shadow: none !important;
}

.sweet-alert button.cancel {
	background-color: #ffefce !important;
	color: #ff7f00;
}

.la-ball-fall > div {
	width: 8px;
	height: 8px;
}

.confirm {
	background-color: #3ac0d9 !important;
}

/* 表格固定百分比宽度,不会被内容撑开 */
.table {
	table-layout: fixed;
}

.overflow-handle {
	width: 90%;
	margin: 0 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.modal-body {
	max-height: 450px;
	overflow-y: auto;
	overflow-x: hidden;
}

.no-data {
	height: 30px;
	margin-top: -10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-top: none;
	line-height: 30px;
	color: #ff0000;
	text-align: center;
}

.asterisk {
	position: absolute;
	right: -10px;
	top: 6px;
	color: #ff0000;
}

.top-line {
	position: relative;
}

.top-line::before {
	content: '';
	position: absolute;
	left: -4px;
	top: -2px;
	width: calc(100% + 8px);
	height: 0;
	border-top: 3px solid #6d90e3;
}

.wavy-line {
	position: relative;
}

.wavy-line::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	display: block;
	width: 100%;
	height: 6px;
	background: url('../images/wavy-line.png') repeat-x 0 0;
}

.dashed-line {
	position: relative;
	height: 30px;
	margin-bottom: 5px;
}

.dashed-line::after {
	content: '';
	position: absolute;
	left: 15px;
	bottom: 0;
	display: block;
	width: calc(100% - 30px);
	border-bottom: 1px dashed #ccc;
}

.dashed-line:last-of-type {
	margin-bottom: 0;
}

.form-group {
	position: relative;
	width: 100% !important;
	margin: 0 !important;
	padding-left: 90px;
}

.form-group label {
	position: absolute;
	left: 0;
	width: 90px !important;
	line-height: 25px;
	text-align: right;
}

.red-star {
	color: #ff0000;
	font-size: 12px;
}

.form-group input[type="text"], .form-group input[type="number"], .form-group input[type="password"] {
	width: 100% !important;
	height: 25px;
	padding: 0 12px;
	line-height: 25px;
	border-radius: 14px;
}

.form-group .detail-input {
	width: 100% !important;
	height: 25px;
	line-height: 25px;
}

.select-box {
	width: 100%;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 14px;
	background: #fff url('../images/select_bg-blue.png') no-repeat 95% center;
	overflow: hidden;
}

.form-group select {
	width: calc(100% + 32px) !important;
	height: 25px;
	padding: 0 12px;
	line-height: 25px;
	background: transparent;
	border: none;
	cursor: pointer;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.form-group select::-ms-expand {
	display: none;
}

.form-group textarea {
	width: 100% !important;
	border-radius: 10px;
}

.info-form {
	background: #f8f8f8;
	overflow: hidden;
}

.btn-xs, .btn-group-xs > .btn {
	height: 23px;
}

/* 表格边线 */
.table-bordered {
	border: 1px solid #d5d4dc;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th {
	border: 1px solid #d5d4dc;
	padding: 5px !important;
	background-color: #6d90e3;
	border-bottom-width: 1px !important;
	color: #fff;
	font-weight: 800;
	text-align: center;
}

.depict {
	color: #6d90e3;
	font-weight: 800;
}

.ui-select-multiple.ui-select-bootstrap {
	/* height: 25px; */
	padding: 0 5px;
	border-radius: 14px;
}

.ui-select-multiple.ui-select-bootstrap > div {
	line-height: 1.666666em;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
	height: 1.666666em;
	line-height: 1.666666em;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
	line-height: 18px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
	height: 20px;
	line-height: 20px;
	border: none;
	background-color: #f5f5f5;
	color: #333;
	border-radius: 8px;
}

/* 日期选择 */
.uib-datepicker-popup.dropdown-menu {
	padding: 2px;
}

.icon_time {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #6d90e3;
	cursor: pointer;
}

/* select样式 */
.form-control {
	font-size: 12px;
}

.form-group select {
	height: 23px !important;
	line-height: 23px !important;
}

.form-group label {
	font-weight: normal;
}

/* 表格 */
.result-table {
	overflow-x: auto;
}

.result-table table tr:nth-of-type(2n) {
	background: #f7f9fc;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: 0;
	outline-offset: 0;
}

/* ng-cloak修复闪跳 */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
	display: none !important;
}

.zhezhao {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
	height: 100%;
	width: 100%;
}

.invalid {
	border-color: #f00;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(255, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea {
	resize: none;
}

.load-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.load-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	margin-left: -40px;
	background: url("../images/loading.gif") no-repeat center center;
	background-size: 80px 80px;
}
