body{
	background: #e7e7e7;
}
.border-bottom{
	border-bottom: 1px solid #e1e0e1;
}
.border-top{
	border-top: 1px solid #e1e0e1;
}
.red-color{
	color: #ff002a;
}
.wrap{
    max-width: 20rem;
    margin: 0 auto;
}
header{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
    height: 2.506667rem;
    line-height: 2.506667rem;
    background: #333;
    color: #fff;
    font-size: 0.906667rem;
    text-align: center;
    z-index: 100;
}
header .back{
	position: absolute;
	left: 0.72rem;
	font-size: 0.8rem;
	color: #fff;
}
header .back i.iconfont{
	font-size: 0.8rem;
}
.content{
	margin-top:  2.506667rem;
	padding-bottom: 2.666667rem;
}
/*底部按钮*/
.bottom-btns{
	position: fixed;
	display: flex;
	bottom: 0;
	left:0;
	width: 100%;
	height: 2.666667rem;
}
.bottom-btns button{
	width: 50%;
	height: 2.666667rem;
	font-size: 0.906667rem;
	border:0;
}
.bottom-btns .submit-btn{
	background: #ff002a;
	color: #fff;
}
.bottom-btns .cancel-btn{
	background: #ededed;
	color: #999;
}
/*步骤*/
.step{
	display: flex;
	height: 1.973333rem;
	line-height: 1.973333rem;
	padding: 0 0.853333rem;
}
.step-item{
	font-size: 0.586667rem;
	color: #979797;
	margin-right: 0.426667rem;
}
.step-item:last-child{
	margin-right: 0;
}
.step-item.red-color{
	color: #fc4e66;
}
.step-item span{
	display: inline-block;
	width: 0.96rem;
	height: 0.96rem;
	line-height: 0.96rem;
	color: #979797;
	background: #cdcdcd;
	font-size: 0.693333rem;
	text-align: center;
	border-radius: 0.96rem;
}
.step-item.red-color span{
	color: #fff;
	background: #fc4e66;
}
.step .line{
	flex: 1;
	height: 0.133333rem;
	background: #cdcdcd;
	margin: 0.96rem 0.426667rem 0 0;
}
.step .line.red-color{
	background: #fc4e66;
}
/*调拨入库*/
.search{
	display: flex;
	height: 2.293333rem;
	line-height: 2.293333rem;
	background: #f3d8dd;
	border: 1px solid #d3d3d3;
	border-left: 0;
	border-right: 0;
}
.search-left{
	display: flex;
	width: 14.88rem;
	height: 1.653333rem;
	margin: 0.266667rem  0.666667rem 0.266667rem 0.4rem;
	border: 1px solid #faa4b1;
	background: #fff;
	border-radius: 1.6rem;
	overflow: hidden;
}
.search-left input{
	flex:1;
	padding: 0 0.96rem;
	color: #7d7d7d;
	font-size: 0.746667rem;
}
.search-btn{
	width: 2.32rem;
	height: 1.653333rem;
	border:0;
	border-left: 1px solid #ffced6;
	background: #fafafa;
	color: #9e9d9d;
	font-size: 0.853333rem;
}
.search .more{
	flex: 1;
	font-size: 0.746667rem;
	color: #fb2649;
	border:0;
	border-left: 1px solid #fb2649;
	background: #f3d8dd;
}
.parts-info{
	padding:0.266667rem 0.373333rem;
	background: #fff;
	font-size: 0.746667rem;
	border-bottom: 1px solid #ddd;
}
.from-item{
	display: flex;
	min-height: 2.346667rem;
	line-height: 2.346667rem;
	padding-right: 0.533333rem;
}
.from-item .txt-label{
	flex: 0 0 4.4rem;
	width: 4.4rem;
	text-align: right;
	color: #7f7e7e;
}
.from-item .p-detail{
	flex: 1;
}
.from-item .half-from-item{
	display: flex;
	width: 50%;
}
.from-item .select-up{
	flex: 1;
	height: 1.706667rem;
	line-height: 1.706667rem;
	padding: 0 0.426667rem;
	margin-top: 0.266667rem;
	border: 1px solid #d1d1d1;
	border-radius: 0.16rem;
	background: url('../../resources/images/icon-select.jpg') no-repeat 93% center;
	background-size: 0.746667rem 0.426667rem;
}
.from-item .txt-input{
	flex: 1;
	height: 1.653333rem;
	line-height: 1.653333rem;
	padding: 0 0.426667rem;
	margin-top: 0.266667rem;
	border: 1px solid #d1d1d1;
	border-radius: 0.16rem;
}
.from-item .textarea-box{
	flex: 1;
	height: 4.4rem;
	padding: 0.533333rem;
	margin: 0.533333rem 0;
	line-height: 0.853333rem;
	border: 1px solid #d1d1d1;
	border-radius: 0.16rem;
	font-size: 0.746667rem;
}
.from-item .search-item{
	position: relative;
	display: flex;
	flex: 1;
	height: 1.653333rem;
	line-height: 1.653333rem;
	margin-top: 0.266667rem;
	border: 1px solid #d1d1d1;
	border-radius: 0.16rem;
	background: #fff;
	overflow: hidden;
}
.from-item .search-item.disabled input{
	background: #ebebeb;
}
.from-item .search-item.disabled .ser-btn{
	color: #bebebe;
	background: #ebebeb;
}
.from-item .ser-btn{
	width: 2.133333rem;
	right: 0;
	font-size: 0.96rem;
	color: #ff002a;
	background: #fff;
	border:0;
}
.from-item .search-item input{
	flex:1;
	height: 1.653333rem;
	padding: 0 0.426667rem;
	line-height: 1.653333rem;
}
.query-btn{
	width: 7.146667rem;
	height: 1.706667rem;
	background: #ff002a;
	color: #fff;
	font-size: 0.746667rem;
	margin: 0.426667rem 0.533333rem;
	border: 0;
	border-radius: 0.16rem;
}
.p-titl{
	position: relative;
	height: 2.24rem;
	line-height: 2.24rem;
	background: #ffe5e9;
	color:#ff002a;
	font-size: 0.8rem;
	border-bottom: 1px solid #ddd;
}
.p-titl i.iconfont{
	font-size: 1.013333rem;
	margin: 0 0.293333rem 0 0.8rem;
}
.p-titl .more-btn{
	position: absolute;
	top:0;
	right:0;
	width: 2.88rem;
	height: 2.24rem;
	border: 0;
	background: #ffe5e9;
	color:#ff002a;
	font-size: 0.906667rem;
}
.docu-num-list{
	background: #fafafa;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.64rem;
}
.docu-num-list .docu-titl{
	position: relative;
	height: 2.08rem;
	line-height: 2.08rem;
	font-size: 0.746667rem;
	border-bottom: 1px solid #e9e9e9;
}
.docu-titl .num-left{
	margin-left: 0.746667rem;
}
.docu-titl .state-right{
	position: absolute;
	top:0;
	right: 0.586667rem;
	color: #9f9f9f;
}
.docu-titl .state-right span{
	color: #ff002a;
}
.docu-num-list .list-form{
	padding: 0.32rem 0;
	border-bottom: 1px solid #e9e9e9;
}
.docu-num-list .list-info{
	display: flex;
	line-height: 1.173333rem;
}
.docu-num-list .list-info .info-label{
	flex: 0 0 3.946667rem;
	width: 3.946667rem;
	color: #9f9f9f;
	text-align: right;	
}
.docu-num-list .list-info .info-p{
	flex: 1;
}
.docu-bottom{
	height: 2.133333rem;
}
.docu-bottom button{
	width: 4.266667rem;
	height: 1.386667rem;
	border:1px solid #ff002a;
	border-radius: 0.266667rem;
	margin: 0.366667rem 0.666667rem 0 0;
}
.docu-bottom .detail-btn{
	color: #ff002a;
	background: #fff;
}
.docu-bottom .confirm-btn{
	color: #fff;
	background: #ff002a;
}
/*时间*/
.date-wrap {
    display: flex;
    flex: 1;
}
.date-wrap .date {
    position: relative;
}
.date-input {
    width: 4.49rem;
    height: 1.6rem;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
    line-height: 1.6rem;
    font-size: 0.746667rem;
    border-radius: 0.16rem;
}
.date-icon {
    position: absolute;
    top: 0.0625rem;
    right: 0.25rem;
    color: #ff4664;
    font-size: 0.8rem;
}
.date-wrap .line {
    flex: 0 0 1.866667rem;
    width: 1.866667rem;
    text-align: center;
    color: #7f7e7e;
}
/*时间*/
/*入库确认*/
.detail-info{
	background: #fff;
	padding: 0.72rem 0;
}
.detail-list{
	width: 94%;
	margin: 0 auto 0.72rem;
	border: 1px solid #ccc;
	border-radius: 0.213333rem;
	overflow: hidden;
}
.detail-p{
	position: relative;
	height: 2.133333rem;
	line-height: 2.133333rem;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	font-size: 0.746667rem;
}
.detail-p span{
	color: #ff002a;
}
.detail-p .delete-btn{
	position: absolute;
	right: 0.746667rem;
	font-size: 0.96rem;
	color: #fc9ead;
}
.detail-p-list{
	display: flex;
	font-size: 0.64rem;
	padding: 0 0.533333rem;
	margin: 0.666667rem 0;
	line-height: 0.64rem;
}
.detail-p-list span{
	color: #7f7e7e;
}
.detail-p-list .p-num{
	width: 33%;
}
/*入库确认*/
/*选择仓库（筛选条件）*/
.chooseDepot{
	background: #fafafa;
}
.content .transfers-list{
	width: 100%;
	margin-bottom: 0.8rem;
	background: #fafafa;
	padding: 0.8rem 0;
}
.content .transfers-list ul li{
	width: 94%;
	margin: 0 auto 0.96rem;
	background: #fafafa;
	border: 1px solid #ccc;
	border-radius: 0.16rem;
}
.transfer-info-head{
	height: 2.08rem;
	background: #ffffff;
	border-bottom: 1px solid #e9e9e9;
	line-height: 2.08rem;
}
.info-radioclass:last-child{
	margin-right:0;
}
.info-radioclass input[type=radio] {
	display: none;
}
.info-radioclass input[type=radio] + span {
	position: relative;
	display: inline-block;
	padding-left: 1.706667rem;
	font-size: 0.746667rem;
}
.info-radioclass input[type=radio] + span b{
	font-weight: normal;
}
.info-radioclass input[type=radio] + span::after {
	content: '';
	position: absolute;
	top: 0.48rem;
	left: 0.64rem;
	width: 1.066667rem;
	height: 1.066667rem;
	background: url('../../resources/images/icon-nocheckin.png') no-repeat;
	background-size: 1.066667rem 1.066667rem;
}
.info-radioclass input[type=radio]:checked + span::after {
	content: '';
	position: absolute;
	top: 0.48rem;
	left: 0.64rem;
	width: 1.066667rem;
	height: 1.066667rem;
	background: url('../../resources/images/icon-checkin.png') no-repeat;
	background-size: 1.066667rem 1.066667rem;
}
.transfer-info{	
	padding: 0.35rem 0 0.35rem 1.5rem;
	font-size: 0.746667rem;
	line-height: 1.28rem;
}
.transfer-info-item{
	display: flex;
	line-height: 1.386667rem;
}
.transfer-info-item p{
	width: 50%;
}
.transfer-info-item span{
	color: #7f7e7e;
}
.transfer-info-item .transfer-info-type{
	display: inline-block;
	float: right;
	width: 4.346667rem;
	height: 0.96rem;
	margin-top: 0.20rem;
	margin-right: 0.426667rem;
	background: #ff5773;
	color: #fff;
	text-align: center;
	font-size: 0.64rem;
	line-height: 0.96rem;
	border-radius: 1.333333rem;
}

.loading{
	position: absolute;
	display: none;
	bottom: 2.666667rem;
	left: 0;
	width: 100%;
	height: 1.68rem;
	background: #ededed;
	color: #9d9d9d;
	border-top: 1px solid #d7d7d7;
	font-size: 0.64rem;
	text-align: center;
	line-height: 1.68rem;
	z-index: 99999;
}
.loading .iconfont{
	margin-right: 0.133333rem;
	font-size: 0.64rem;
}
/*选择仓库（筛选条件）*/
/*筛选内容*/
@keyframes moveIn
{
from {left:100%; opacity: 0;}
to{left:0; opacity: 1;}
}

@-webkit-keyframes moveIn
{
from {left:100%; opacity: 0;}
to{left:0; opacity: 1;}
}

@keyframes moveOut
{
from {left:0; opacity: 1;}
to{left:100%; opacity: 0;}
}

@-webkit-keyframes moveOut
{
from {left:0; opacity: 1;}
to{left:100%; opacity: 0;}
}

.screen-box{
	opacity: 0;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	position: absolute;
}
.hide-screen{
	left: 100%;
	top: 2.506667rem;
	opacity: 0;
	animation: moveOut 0.6s infinite;
	animation-iteration-count: 1;
}
.show-screen{
	left: 0;
	top: 2.506667rem;
	opacity: 1;
	animation: moveIn 0.6s infinite;
	animation-iteration-count: 1;
}
.shade{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
}
.screen-info-box{
	position: absolute;
	right: 0;
	top: 0;
	width: 85%;
	height: 100%;
	background: #fff;
	z-index: 99999;
}
.screen-info-head{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1.84rem;
	background: #f6f5f5;
	line-height: 1.84rem;
}
.screen-info-title{
	padding-left: 0.72rem;
	color: #7e7474;
	font-size: 0.64rem;
}
.screen-info-foot{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3.946667rem;
	background: #fff;
	text-align: right;
}
.screen-info-foot button{
	margin-top: 1.066667rem;
	width: 4.773333rem;
	height: 1.866667rem;
	border: none;
	font-size: 0.8rem;
	border-radius: 0.133333rem;
}
.screen-info-foot .btn-reset{
	margin-right: 0.56rem;
	background: #e7e5e5;
	color: #0a0a0a;
}
.screen-info-foot .btn-confirm{
	margin-right: 0.666667rem;
	background: #ee302f;
	color: #fff;
}
.screen-info-list{
	position: absolute;
	left: 0;
	top: 1.84rem;
	width: 100%;
	bottom: 3.946667rem;
	overflow: auto;
}
.info-list-title{
	position: relative;
	height: 1.76rem;
	padding: 0 0.72rem;
	line-height: 1.76rem;
	color: #3a3a3a;
	font-size: 0.64rem;	
}
.info-list-title button.iconfont{
	position: absolute;
	color: #ff002a;
	top: 0;
	right: 0.8rem;
	height: 1.76rem;
	border:0;
	background: #fff;
}
.info-list-item{
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
}
.info-list-item ul{
	padding-left: 0.78rem;
}
.info-list-item ul li{
	float: left;
	width: 7.413333rem;
	height: 1.786667rem;
	line-height: 1.786667rem;
	margin: 0 0.586667rem 0.48rem 0;
	background: #f6f5f5;
	color: #3a3a3a;
	text-align: center;
	font-size: 0.64rem;
	word-break: break-all;
	word-wrap: break-word;
	border-radius: 0.133333rem;
}
.info-list-model ul li p{
	padding: 0.3rem 0.3rem 0;
}
.info-list-item ul li.checked{
	background: url('../images/icon-del.png') #fbe6e9 no-repeat right bottom;
	background-size: 1.013333rem 0.853333rem;
	color: #ea3d4b;
}
/*筛选内容*/

/*录入串码*/
.p-titl .leadingin-btn{
	position: absolute;
	top: 0.266667rem;
	right: 0.586667rem;
	height: 1.6rem;
	line-height: 1.4rem;
	padding: 0 0.32rem;
	color: #ff002a;
	font-size: 0.746667rem;
	border: 1px solid #ff002a;
	background: #fff;
	border-radius: 0.16rem;
}
.p-titl .leadingin-btn i.iconfont{
	font-size: 0.853333rem;
	margin:0;
}
.add-search{
	display: flex;
	height: 2.933333rem;
	padding: 0 1.44rem;
	border-bottom: 1px solid #d8d8d8;
}
.add-search input{
	/*width: 12.0rem;*/
	flex: 1;
	height: 1.6rem;
	border: 1px solid #d1d1d1;
	padding: 0 0.426667rem;
	margin: 0.586667rem 0.693333rem 0 0;
	border-radius: 0.16rem;
}
.add-search-btn{
	width: 4.32rem;
	height: 1.706667rem;
	margin-top: 0.586667rem;
	font-size: 0.746667rem;
	color: #fff;
	background: #ff002a;
	border:0;
	border-radius: 0.106667rem;
}
.srialCode{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fafafa;
}
.srial-code-list{
	background: #fff;
}
.code-li{
	position: relative;
	display: flex;
	width: calc(50% - 1px);
	padding: 0.45rem 0 0.2rem;
	border-right: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
}
.code-li:nth-of-type(2n){
	border-right: 0;
}
.order-num{
	width: 0.8rem;
	height: 0.8rem;
	line-height: 0.85rem;
	margin: 0 0.4rem 0 0.266667rem;
	border: 1px solid #f14763;
	background: #ffe5e9;
	border-radius: 0.96rem;
	text-align: center;
	color: #f14763;
	font-size: 0.64rem;
}
.code-num .p-code{
	margin: 0.16rem 0 0.266667rem;
	font-size: 0.64rem;
	line-height: 0.64rem;
}
.code-li .del-btn{
	position: absolute;
	top: 0;
	right: -1px;
	width: 0.933333rem;
	height: 0.906667rem;
	background: url('../images/icon-code-del.png');
	background-size: 0.933333rem 0.906667rem;
	border: 0;
}










