body{
	background: #fff;
}
i{
	font-style: normal;
}
.mt10{
	margin-top: 0.4rem;
}
.mt40{
	margin-top: 1.066667rem;
}
.wrapper {
    width: 20rem;
    margin: 0 auto;
}
header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2.611111rem;
	background: #333333;
	color: #fff;
	line-height: 2.611111rem;
	text-align: center;
}
header .header-title{
	font-size: 0.944444rem;
}
header .back{
	position: absolute;
	left: 0.777778rem;
	top: 0;
	font-size: 0.8rem;
}
header .back .iconfont{
	font-size: 0.8rem;
}

.content{
	position: absolute;
	top: 2.611111rem;
	left: 0;
	bottom: 2.666667rem;
	width: 100%;
	line-height: 0.64rem;
	overflow-y: auto;
}
.content .top{
	width: 100%;
	height: 2.333333rem;
	background: url('../images/icon-up.png') #ffe5e9 no-repeat 93% center;
	background-size: 0.746667rem 0.426667rem;
	line-height: 2.333333rem;
	border-bottom: 1px solid #ddd;
}
.content .top-bg.top{
	width: 100%;
	height: 2.333333rem;
	background: url('../images/icon-down.png') #ffe5e9 no-repeat 93% center;
	background-size: 0.746667rem 0.426667rem;
	line-height: 2.333333rem;
	border-bottom: 1px solid #ddd;
}
.content .top .top-title{
	padding-left: 0.777778rem;
	color: #ff002a;
	font-size: 0.8rem;
}
.content .top .top-title .iconfont{
	color: #ff002a;
	font-size: 1.066667rem;
	vertical-align: top;
}
.content .prod-info{
	width: 100%;
	background: #fff;
}
.content .info-area{
	padding-left: 1.76rem;
	height: 2.346667rem;
	line-height: 2.346667rem;
}
.content .info-area .info-area-item{
	position: relative;
	padding-left: 4.03rem;
	border-bottom: 1px solid #e1e0e0;
}
.info-people-box{
	border-bottom: 1px solid #e1e0e0;
}
.info-area .info-people-box .info-area-item{
	border-bottom: none;
}
.content .info-area .info-area-item label{
	position: absolute;
	left: 0;
	top: 0;
	width: 4.03rem;
	font-size: 0.746667rem;
	color: #7f7e7e;
	text-align: right;
}
.content .info-area .info-area-item .info-area-detail{
	font-size: 0.853333rem;
	color: #000;
}
.content .info-item{
	position: relative;
	margin-left: 1.76rem;
	min-height: 2.346667rem;
	height: auto;
	line-height: 2.346667rem;
	padding-left: 4.03rem;
	padding-right: 1.786667rem;
}
.content .info-item label{
	position: absolute;
	left: 0;
	top: 0;
	width: 4.03rem;
	font-size: 0.746667rem;
	color: #7f7e7e;
	text-align: right;
}
.content .info-area-item select{
	padding: 0 0.4rem;
	margin: 0;
	height: 1.653333rem;
	border: 1px solid #d1d1d1;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.content .info-area-item select{
	position: relative;
	width: 70%;
}
.content .info-area-item select option{
	width: 100%;
}
.content .info-area-item select.select-up{
	background: url('../../resources/images/icon-select.jpg') no-repeat 93% center;
	background-size: 0.746667rem 0.426667rem;
	font-size: 0.746667rem;
}
.content .info-area-item select:disabled.select-up{
	background: url('../../resources/images/icon-select-disabled.png') #f1f0f0 no-repeat 93% center;
	background-size: 0.746667rem 0.426667rem;
	font-size: 0.746667rem;
}
.content .info-people{
	width: 45%;
}
.content .info-date{
	width: 50%;
}
.content .info-date .info-date-item{
	position: relative;
	padding-left: 3.8rem;
}
.content .info-date .info-date-item label{
    position: absolute;
    left: 0;
    top: 0;
    width: 3.8rem;
    font-size: 0.746667rem;
    color: #7f7e7e;
    text-align: right;
}
.content .info-date .info-date-item .info-area-detail{
	font-size: 0.853333rem;
	color: #000;
}
.content .info-item-area label{
	position: absolute;
	left: 0;
	top: 0;
	width: 4.03rem;
	font-size: 0.746667rem;
	color: #7f7e7e;
	text-align: right;
}
.content .info-item-area{
	position: relative;
	margin-left: 1.76rem;
	min-height: 2.346667rem;
	height: auto;
	line-height: 2.346667rem;
	padding-left: 4.03rem;
}
.content .info-item-area textarea{
	width: 92%;
	height: 5.333333rem;
	margin-top: 0.4rem;
	border: 1px solid #d1d1d1;
	font-size: 0.746667rem;
	border-radius: 0.266667rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.content .info-item .code-bg{
	background: url('../images/icon-code.jpg') no-repeat 93% center;
	background-size: 0.96rem;
}
.content .info-item .info-number{
	position: relative;
	width: 7.7rem;
	margin: 0.34rem 0 0 0;
}
.content .info-item .info-item-star{
	color: #ff4040;
}
.ml9{
	margin-left: 0.21rem;
}
.content .btn-query{
	float: left;
	display: inline-block;
	margin-top: 0.373333rem;
	margin-left: 0.566667rem;
	width: 2.666667rem;
	height: 1.653333rem;
	background: #ff002a;
	border: none;
	color: #fff;
	font-size: 0.746667rem;
}
.content .result-box{
	border-top: 1px solid #cccccc;
}

.terminal-list{
	padding: 0 0.8rem;
	margin-top: 0.8rem;
}
.terminal-list ul li{
	width: 100%;
	margin-bottom: 0.8rem;
	border: 1px solid #ccc;
	border-radius: 0.266667rem;
	overflow: hidden;
}
.terminal-list ul li:last-child{
	margin-bottom: 0;
}
.terminal-list ul li .terminal-info-head{
	position: relative;
	height: 2.08rem;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	line-height: 2.08rem;
}
.terminal-list ul li .terminal-info-head .terminal-title{
	font-size: 0.746667rem;
	color: #333333;
}
.terminal-list ul li .terminal-info-head .terminal-title span{
	color: #ff002a;
}
.terminal-del{
	position: absolute;
	right: 0;
	top: 0;
	height: 2.08rem;
	width: 2.506667rem;
	text-align: center;
	color: #ff8095;
	font-weight: normal;
}
.terminal-del button{
	width: 2.4rem;
	margin-right: 0.8rem;
	background: none;
	border: none;
	vertical-align: middle;
}
.terminal-del button .iconfont{
	font-size: 1.066667rem;
	color: #ff8095;
}
.terminal-info{
	padding: 0.266667rem;
	line-height: 1.2rem;
	font-size: 0.64rem;
	color: #333;
}
.terminal-info span{
	color: #7f7e7e;
}
.terminal-info span.info-number{
	color: #000;
	font-weight: bold;
}
.terminal-info-foot{
	width: 100%;
	height: 2.08rem;
	line-height: 2.08rem;
	background: #ffffff;
	border-top: 1px solid #ccc;
	text-align: right;
}
.terminal-info-foot .btn-code{
	width: 4.266667rem;
	height: 1.386667rem;
	margin-right: 0.48rem;
	background: #fff;
	color: #ff002a;
	border: 1px solid #ff002a;
	border-radius: 0.266667rem;
}
.checked-terminal{
	padding: 0 0.8rem;
	margin: 0.8rem 0;
	text-align: right;
}
.checked-terminal .btn-confirm{
	width: 5.6rem;
	height: 1.386667rem;
	background: #ff002a;
	border: none;
	color: #fff;
	border-radius: 0.266667rem;
}


footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.666667rem;
}
footer .btn{
	padding: 0;
	margin: 0;
	width: 50%;
	height: 2.64rem;
	font-size: 0.906667rem;
	border: none;
	border-top: 1px solid;
	line-height: 2.64rem;
}
footer .btn.btn-confirm{
	background: #ff002a;
	color: #fff;
	border-top-color: #ff002a;
}
footer .btn.btn-cancel{
	background: #ededed;
	color: #999;
	border-top-color: #cccccc;
	border-radius: 0;
}

.content .top-entry{
	width: 100%;
	height: 2.333333rem;
	background: #ffe5e9;
	line-height: 2.333333rem;
	border-bottom: 1px solid #ddd;
}
.content .top-entry .top-title{
	padding-left: 0.777778rem;
	color: #ff002a;
	font-size: 0.8rem;
}
.content .top-entry .top-title .iconfont{
	color: #ff002a;
	font-size: 1.066667rem;
	vertical-align: top;
}

.btn-query:disabled, .btn-confirm:disabled{
	opacity: 0.7;
}
.result-box .result-info{
	padding: 0 0.8rem;
}

.result-box .result-info dl dd, .result-box .result-info dl dt{
	position: relative;
	float: left;
	display: inline-block;
	width: 50%;
	height: 1.6rem;
	color: #7f7e7e;
	font-size: 0.64rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.result-box .result-info dl dd{
	width: 50%;
}
.result-box .result-info dl dt{
	width: 100%;
}
.result-box .result-info dl dd span, .result-box .result-info dl dt span{
	color: #333;
	padding-left: 3.5rem;
}
.result-title{
	position: absolute;
	left: 0;
	top: 0;
	width: 3.5rem;
	text-align: right;
}

.code-list{
	width: 100%;
}
.code-list ul li{
	float: left;
	display: inline-block;
	width: 50%;
	height: 2.24rem;
	line-height: 2.24rem;
	border-bottom: 1px solid #d1d1d1;
	font-size: 0.64rem;
}
.code-list ul li:nth-child(odd){
	width: calc(50% - 1px);
	border-right: 1px solid #d1d1d1;
}
.code-list ul li span{
	display: inline-block;
	float: left;
	margin: 0.6rem 0.266667rem 0  0.266667rem;
	width: 0.88rem;
	height: 0.88rem;
	text-align: center;
	line-height: 0.88rem;
	background: #ffe5e9;
	border: 1px solid #f14763;
	color: #ff002a;
	border-radius: 50%;
}

.code-mac-list ul li i, .code-list ul li i{
	font-style: normal;
}
.code-mac-list ul li{
	float: left;
	display: inline-block;
	width: 50%;
	height: 2.933333rem;
	line-height: 1.0rem;
	border-bottom: 1px solid #d1d1d1;
	font-size: 0.64rem;
}
.code-mac-list ul li:nth-child(odd){
	width: calc(50% - 1px);
	border-right: 1px solid #d1d1d1;
}
.code-mac-list ul li span{
	display: inline-block;
	float: left;
	margin: 0.5rem 0.266667rem 0  0.266667rem;
	width: 0.88rem;
	height: 0.88rem;
	text-align: center;
	line-height: 0.88rem;
	background: #ffe5e9;
	border: 1px solid #f14763;
	color: #ff002a;
	border-radius: 50%;
}
.code-mac-list ul li div{
	margin-top: 0.50rem;
}

.content .code{
	width: 100%;
	height: 2.333333rem;
	background: #ffe5e9;
	line-height: 2.333333rem;
	border-top: 1px solid #ddd;
}
.content .code .top-title{
	padding-left: 0.777778rem;
	color: #ff002a;
	font-size: 0.8rem;
}
.content .code .top-title .iconfont{
	margin-right: 0.133333rem;
	color: #ff002a;
	font-size: 1.066667rem;
	vertical-align: top;
}

.result-box .top-title{
	height: 2.666667rem;
	line-height: 2.666667rem;
	padding-left: 0.777778rem;
	color: #ff002a;
	font-size: 0.8rem;
}
.result-box .top-title .iconfont{
	color: #ff002a;
	font-size: 1.066667rem;
	vertical-align: top;
}

.content .info-item{
	position: relative;
	margin-left: 1.76rem;
	min-height: 2.346667rem;
	height: auto;
	line-height: 2.346667rem;
	padding-left: 4.4rem;
    padding-right: 5.733333rem;
}
.content .info-item label{
	position: absolute;
	left: 0;
	top: 0;
	width: 4.03rem;
	font-size: 0.746667rem;
	color: #7f7e7e;
	text-align: right;
}
.content .info-item .btn-query{
	position: absolute;
	right: 0.693333rem;
	top: 0;
	display: inline-block;
	margin-top: 0.373333rem;
	width: 4.6rem;
	height: 1.653333rem;
	background: #ff002a;
	border: none;
	color: #fff;
	font-size: 0.746667rem;
	border-radius: 0.133333rem;
}
.content .info-item input{
	padding: 0 0.4rem;
	margin: 0;
	height: 1.653333rem;
	background: url('../images/icon-code.jpg') #fff no-repeat 93% center;
    background-size: 0.96rem;
	border: 1px solid #d1d1d1;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.content .info-item input{
	width: 100%;
}
.btn-query:disabled, .btn-confirm:disabled{
	opacity: 0.7;
}