input{
	border:0;
	outline: none;
	-webkit-appearance: none;
}
button{
	padding: 0;
}
.wrap{
    max-width: 20rem;
    margin: 0 auto;
}
header{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
    height: 2.506667rem;
    line-height: 2.506667rem;
    background: #333;
    color: #fff;
    font-size: 0.906667rem;
    text-align: center;
    z-index: 100;
}
header .back{
	position: absolute;
	left: 0.72rem;
	font-size: 0.8rem;
	color: #fff;
}
header .back i.iconfont{
	font-size: 0.8rem;
}
.content{
	margin-top:  2.506667rem;
	padding-bottom: 2.666667rem;
}
/*拆机终端收取*/
.top-line{
	border-top: 1px solid #e0c6cb;
}	
.bottom-line{
	border-bottom: 1px solid #e1e0e1;
}
.p-titl{
	position: relative;
	height: 2.24rem;
	line-height: 2.24rem;
	background: #ffe5e9;
	color:#ff002a;
	font-size: 0.8rem;
	border-bottom: 1px solid #dddddd;	
}
.p-titl i.iconfont{
	font-size: 1.013333rem;
	margin: 0 0.293333rem 0 0.8rem;
}
.p-titl .more-btn{
	position: absolute;
	top:0;
	right:0;
	width: 2.88rem;
	height: 2.24rem;
	border: 0;
	background: #ffe5e9;
	color:#ff002a;
	font-size: 0.906667rem;
}
.base-info{
	margin-left: 1.653333rem;
}

.info-line{
	position: relative;
	min-height: 2.346667rem;
	line-height: 2.346667rem;
	padding-left: 4.0rem;
	font-size: 0.746667rem;
}
.info-line .info-label{
	position: absolute;
	left:0;
	color: #7f7e7e;
	width: 4.0rem;
	text-align: right;
} 
.info-radio{
	display: flex;
}
.info-p{
	width: calc(100% - 2.0rem);
}
.textarea-box{
	width: calc(100% - 2.0rem);
	height: 5.226667rem;
	border: 1px solid #d1d1d1;
	border-radius: 0.16rem;
	padding: 0.533333rem;
	font-size: 0.746667rem;
	line-height: 0.853333rem;
}
.radioclass{
	margin-right: 0.6rem;
}
.radioclass:last-child{
	margin-right:0;
}
.radioclass input[type=radio] {
	display: none;
}
.radioclass input[type=radio] + span {
	position: relative;
	display: inline-block;
	padding-left: 1.44rem;
}
.radioclass input[type=radio] + span::after {
	content: '';
	position: absolute;
	top: 0.633333rem;
	left: 0;
	width: 1.066667rem;
	height: 1.066667rem;
	background: url('../../resources/images/icon-nocheck.png') no-repeat;
	background-size: 1.066667rem 1.066667rem;
}
.radioclass input[type=radio]:checked + span::after {
	content: '';
	position: absolute;
	top: 0.533333rem;
	left: 0;
	width: 1.066667rem;
	height: 1.066667rem;
	background: url('../../resources/images/icon-checked.png') no-repeat;
	background-size: 1.066667rem 1.066667rem;
}
/*.detail-info{
	margin-top: 0.72rem;
}*/
.detail-list{
	width: 94%;
	margin: 0.72rem auto;
	border: 1px solid #ccc;
	border-radius: 0.213333rem;
	overflow: hidden;
}
.detail-p{
	position: relative;
	height: 2.133333rem;
	line-height: 2.133333rem;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
	font-size: 0.746667rem;
}
.detail-p span{
	color: #ff002a;
}
.detail-p .delete-btn{
	position: absolute;
	right: 0.746667rem;
	font-size: 0.96rem;
	color: #fc9ead;
}
.detail-p-list{
	font-size: 0.64rem;
	padding: 0 0.533333rem;
	margin: 0.666667rem 0;
	line-height: 0.64rem;
}
.detail-p-list span{
	color: #7f7e7e;
}
.search-btn{
	display: inline-block;
	width: 1.6rem;
	height: 1.226667rem;
	line-height: 1.226667rem;
	border-radius: 0.266667rem;
	color: #fff;
	background: #ff002a;
	text-align: center;
	font-size: 0.64rem;
	margin-left: 0.266667rem;
}
.detail-btns{
	width: 94%;
	margin: 0.72rem auto;
}
.add-btn{
	padding: 0 0.48rem;
	height: 1.44rem;
	background: #ff002a;
	color: #fff;
	font-size: 0.64rem;
	border-radius: 0.213333rem;
	border:0;
}
.add-btn i{
	font-size: 0.64rem;
}
.detail-list .info-radio{
	height: 2.08rem;
	padding: 0 0.533333rem;
	line-height: 2.08rem;
	border-top: 1px solid #ccc;
	font-size: 0.533333rem;
}
.detail-list .info-radio span{
	color: #7f7e7e;
	margin-right: 0.346667rem;
}
.info-radioclass{
	/*margin-right: 0.346667rem;*/
}
.info-radioclass:last-child{
	margin-right:0;
}
.info-radioclass input[type=radio] {
	display: none;
}
.info-radioclass input[type=radio] + span {
	position: relative;
	display: inline-block;
	padding-left: 0.96rem;
}
.info-radioclass input[type=radio] + span::after {
	content: '';
	position: absolute;
	top: 0.64rem;
	left: 0;
	width: 0.746667rem;
	height: 0.746667rem;
	background: url('../../resources/images/icon-radionocheck.png') no-repeat;
	background-size: 0.746667rem 0.746667rem;
}
.info-radioclass input[type=radio]:checked + span::after {
	content: '';
	position: absolute;
	top: 0.64rem;
	left: 0;
	width: 0.746667rem;
	height: 0.746667rem;
	background: url('../../resources/images/icon-radiochecked.png') no-repeat;
	background-size: 0.746667rem 0.746667rem;
}
.bottom-btns{
	position: fixed;
	display: flex;
	bottom: 0;
	left:0;
	width: 100%;
	height: 2.666667rem;
}
.bottom-btns button{
	width: 50%;
	height: 2.666667rem;
	font-size: 0.906667rem;
	border:0;
}
.bottom-btns .submit-btn{
	background: #ff002a;
	color: #fff;
}
.bottom-btns .cancel-btn{
	background: #ededed;
	color: #999;
}
/*拆机终端收取*/
/*终端扫码录入*/
.terminalCode{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fafafa;
}
.scan-code{
	display: flex;
	height: 3.573333rem;
	line-height: 3.573333rem;
	font-size: 0.746667rem;
	background: #fff;
}
.scan-code .scan-label{
	flex: 0 0 4.453333rem;
	width: 4.453333rem;
	color: #7f7e7e;
	text-align: right;
}
.scan-code .scan{
	position: relative;
	flex: 1 0;
	height: 1.7rem;
	margin: 0.88rem 0.8rem 0 0;
	line-height: 1.7rem;
	border: 1px solid #d1d1d1;
	border-radius: 0.16rem;
	overflow: hidden;
}
.scan-code .scan::after{
	position: absolute;
	content: '\e727';
	top: 0;
	right: 0.533333rem;
	color:#ffccd4;
	font-size: 1.066667rem;
	font-family: "iconfont";
}
.scan-code .scan input{
	position: absolute;
	top:0;
	left:0;
	padding: 0 0.32rem;
	border:0;
	width: calc(100% - 1.64rem);
	height: 1.706667rem;
}
.scan-btn{
	width: 4.266667rem;
	height: 1.706667rem;
	line-height: 1.706667rem;
	border:0;
	margin: 0.9rem 0.64rem 0 0;
	font-size: 0.746667rem;
	color: #fff;
	background: #ff002a;
	border-radius: 0.16rem;
	padding:0;
}
.result-box .top-title{
	height: 2.666667rem;
	line-height: 2.666667rem;
	padding-left: 0.777778rem;
	color: #ff002a;
	font-size: 0.8rem;
}
.result-box .top-title .iconfont{
	color: #ff002a;
	font-size: 1.066667rem;
	vertical-align: top;
}
.result-box .result-info{
	
}
.result-box .in-row{
	display: flex;
}
.scan-line{
	display: flex;
	width: 50%;
	font-size: 0.64rem;
	line-height: 0.64rem;
	margin-bottom: 1.013333rem;
}
.scan-line.long{
	width: 100%;
}
.scan-line label{
	flex: 0 0 4.0rem;
	width: 4.0rem;
	color: #7f7e7e;
	text-align: right;
}
.scan-line .scan-p{
	font-size: 0.64rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*终端扫码录入*/

/*产品查询*/
.productQuery{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fafafa;
}
.content .prod-info{
	width: 100%;
	background: #fff;
	padding-bottom: 0.533333rem;
}
.content .info-area{
	padding-left: 1.76rem;
	height: 2.346667rem;
	line-height: 2.346667rem;
}
.content .info-area .info-area-item{
	position: relative;
	height: 2.346667rem;
	padding-left: 4.266667rem;
	border-bottom: 1px solid #e1e0e0;
}
.content .info-area .info-area-item label{
	position: absolute;
	left: 0;
	top: 0;
	width: 4.266667rem;
	font-size: 0.746667rem;
	color: #7f7e7e;
	text-align: right;
}
.content .info-area .info-area-item .info-area-detail{
	font-size: 0.853333rem;
	color: #000;
}
.content .info-item{
	position: relative;
	height: 2.346667rem;
	line-height: 2.346667rem;
	padding-left: 5.973333rem;
	padding-right: 1.786667rem;
}
.content .info-item label{
	position: absolute;
	left: 0;
	top: 0;
	width: 5.973333rem;
	font-size: 0.746667rem;
	color: #7f7e7e;
	text-align: right;
}
.content .info-item input, .content .info-item select{
	padding: 0 0.4rem;
	margin: 0;
	height: 1.653333rem;
	border: 1px solid #d1d1d1;
	background: #fff;
	border-radius: 0.16rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.content .info-item input{
	width: 100%;
}
.content .info-item select{
	position: relative;
	width: 7.68rem;
	font-size: 0.853333rem;
}
.content .info-item select option{
	width: 100%;
}
.content .info-item select.select-up{
	background: url('../../resources/images/icon-select.jpg') no-repeat 93% center;
	background-size: 0.746667rem 0.426667rem;
}
.content .btn-query{
	float: right;
	display: inline-block;
	margin-top: 0.373333rem;
	width: 3.733333rem;
	height: 1.653333rem;
	margin-left: 0.8rem;
	background: #ff002a;
	border: none;
	color: #fff;
	font-size: 0.746667rem;
}
.result-info .notice{
	width: 92%;
	min-height: 1.866667rem;
	margin: 0 auto;
	background: #fce6d7;
	line-height: 1.1rem;
}
.result-info .notice .notice-text{
	margin-top: 0.266667rem;
	padding: 0.43rem 0.533333rem;
	font-size: 0.64rem;
	color: #fd8126;
}
/*产品查询*/

.scan-btn:disabled, .submit-btn:disabled{
	background: #dadada;
	color: #333;
}















